.descr-top {
    margin-top: 20px;
    margin-bottom: 0rem !important;
    padding-top: 100px;
}

.descr-top2 {
    
    margin-bottom: 0rem !important;
    padding-top: 100px;
    background-color: white;
}

.descr-top3 {
    
    margin-bottom: 0rem !important;
    padding-top: 100px;
   
}
.circulo {
    width: 140px;
    height: 140px;
    background-color:#28a745;
    font-size: 52px;
    padding: 24px;
    color: white;
}

.centralizar{
    margin:0 auto;
    float: none !important;
}


img{
    object-fit: contain;
}